.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.post{
    border: 1px black solid;
    width:400px;
    padding:10px;
}

.post h4{
    text-align: center;
}